<form action="/api/productos" method="post">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="price" placeholder="Price" />
    <input type="text" name="thumbnail" placeholder="Thumbnail" />
    <button > Enviar! </button>
</form>

<a href="/productos"><button>Volver al formulario de carga</button></a>