table,
th,
td {
  border: 1px solid;
}

.title {
  width: 50%;
  text-align: center;
}

.product-list {
  margin-left: 20px;
  width: 50%;
}

.mensaje-listaMensajes {
  padding: 1rem 0;
  color: rgba(0, 0, 255, 0.622);
}